.swiper {
  height: 74vh;
  margin: 0;
}

.swiper-slide-img {
  display: block;
  width: 100vw;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 600px) {
  .fundoMobile {
      background-image: url("https://ik.imagekit.io/natashadev/Riqueza%20das%20Ra%C3%ADzes/Beige%20Green%20Aesthetic%20Decorative%20Background%20Instagram%20Story.png?updatedAt=1717680247272");
      background-repeat: no-repeat;
      width: 100%;
      min-height: 100vh;
      background-size: cover;
      background-position: center;
      display: flex;
  }

  .fundoPc {
      display: none;
  }
}

@media screen and (min-width: 601px) {
  .fundoMobile {
      display: none;
  }

  .fundoPc {
      display: block;
  }
}
