.background{
    background-color: #e9eae2;
}

.fundosobrenos{
    background-image: url("https://i.imgur.com/kd0xRVO.jpeg");
    background-repeat: no-repeat;
    width: auto;
    height: auto;
    /* min-height: 75vh; */
    background-size: cover;
}


.card-image {
    width: auto; 
    height: auto; 
    max-width: none; 
    
  }
  